	header{
			font-size : 16px;
			font-family : monospace;
			border-style: dashed;
			border-width: thin;
			margin: 0% 20% 0% 20%;
			padding: 5px;
				}
		section{
			font-size : 16px;
			background-color: "#fefefe";
			border-style: dashed;
			border-width: thin;
			text-align: justify;
			font-family : monospace;
			margin: 0% 20% 2% 20%;
			padding: 5px;
				}
		h2 {
		     color : black;
			margin: 0% 20% 0% 0%;
		}
		footer {
			font-size: 50%;
			color: blue;
			font-family : courier;
			margin: 2% 20% 2% 20%;
			padding: 5px;
			}
		nav	{
			font-size:16x;
			border-style: dashed;
			border-width: thin;
			font-family : monospace;
			margin: 0% 20% 0% 20%;
			padding: 5px;
		}
